body {
  background-image: linear-gradient(45deg, #0c0a14, #281d55);
  color: #fff;
  margin: 0;
}
body h2 {
  font-family: "Potta One", cursive;
}
body #general {
  position: relative;
  height: 85vh;
  display: flex;
  flex-direction: row;
}
body #general #search {
  background-color: #19142c;
  height: 85vh;
  overflow-y: scroll;
  width: 21vw;
}
body #general #search_movies_div .one_movie {
  position: relative;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}
body #general #search_movies_div .one_movie h3 {
  position: absolute;
  bottom: 5%;
  left: 3%;
  width: 180px;
  text-shadow: 2px 0 0 #000, 2px 2px 0 #000, 0 2px 0 #000, -2px 2px 0 #000, -2px 0 0 #000, -2px -2px 0 #000, 0 -2px 0 #000, 2px -2px 0 #000;
}
body #general #search_movies_div .one_movie img {
  width: 190px;
  margin: 0;
  box-shadow: #000 5px 5px 5px;
  transition: 0.5s;
}
body #general #search_movies_div .one_movie img:hover {
  filter: saturate(1);
  width: 200px;
  cursor: pointer;
}
body #general #accueil, body #general #movie_details, body #general #search_movies_div {
  height: 85vh;
  overflow-y: scroll;
  width: 80vw;
}
body #general #accueil .genre_name, body #general #movie_details .genre_name, body #general #search_movies_div .genre_name {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body #general #accueil .genre_name button, body #general #movie_details .genre_name button, body #general #search_movies_div .genre_name button {
  margin-left: 15px;
  border-radius: 5px;
  background-color: #3b3b8b;
  color: #fff;
  border: none;
  height: 30px;
  transition: 0.5s;
}
body #general #accueil .genre_name button:hover, body #general #movie_details .genre_name button:hover, body #general #search_movies_div .genre_name button:hover {
  background-color: #a34d4a;
  cursor: pointer;
}
body #general #accueil #popular_movies, body #general #accueil .category_div, body #general #movie_details #popular_movies, body #general #movie_details .category_div, body #general #search_movies_div #popular_movies, body #general #search_movies_div .category_div {
  padding: 10px;
}
body #general #accueil #popular_movies:hover, body #general #accueil .category_div:hover, body #general #movie_details #popular_movies:hover, body #general #movie_details .category_div:hover, body #general #search_movies_div #popular_movies:hover, body #general #search_movies_div .category_div:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
body footer {
  height: 5vh;
  background-color: #0c0a14;
}

.flex_column {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
.flex_column .pagination {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex_column .movies_list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 77vh;
  overflow-y: scroll;
}

.d-none {
  display: none;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(16, 10, 29, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(11, 11, 26, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.5);
}

#search .search_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}
#search .search_form input {
  border-radius: 5px;
  height: 30px;
  outline: none;
}
#search .search_form button {
  margin-top: 5px;
  border-radius: 5px;
  background-color: #3b3b8b;
  color: #fff;
  border: none;
  height: 30px;
  transition: 0.5s;
}
#search .search_form button:hover {
  background-color: #a34d4a;
  cursor: pointer;
}
#search nav ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#search nav ul li {
  list-style: none;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#search nav ul li:hover {
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: #0c0a14;
}
header h1 {
  margin: 0;
  font-family: "Potta One", cursive;
  font-size: 50px;
}
header a {
  color: #fff;
  text-decoration: none;
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.carousel .one_movie {
  position: relative;
  padding-bottom: 10px;
}
.carousel .one_movie h3 {
  position: absolute;
  bottom: 5%;
  left: 3%;
  width: 180px;
  text-shadow: 2px 0 0 #000, 2px 2px 0 #000, 0 2px 0 #000, -2px 2px 0 #000, -2px 0 0 #000, -2px -2px 0 #000, 0 -2px 0 #000, 2px -2px 0 #000;
}
.carousel .one_movie img {
  width: 190px;
  margin: 0;
  box-shadow: #000 5px 5px 5px;
  transition: 0.5s;
}
.carousel .one_movie img:hover {
  filter: saturate(1);
  width: 240px;
  cursor: pointer;
}

#movie_details {
  padding: 10px;
}
#movie_details .title_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #0c0a14;
}
#movie_details .title_button button {
  margin-left: 15px;
  border-radius: 5px;
  background-color: #a34d4a;
  color: #fff;
  border: none;
  height: 30px;
  transition: 0.5s;
}
#movie_details .title_button button:hover {
  cursor: pointer;
  background-color: #833936;
}
#movie_details .info_movie {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
#movie_details .info_movie img {
  width: 30vw;
  height: auto;
  border: 10px solid #fff;
  box-shadow: 10px 10px 15px #000;
}
#movie_details .info_movie .overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#movie_details .info_movie svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}
#movie_details .info_movie svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #0f0f0f;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}
#movie_details .info_movie .percent {
  position: absolute;
  top: 10px;
  left: 20%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #000;
  z-index: 1000;
}
#movie_details .info_movie .percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
#movie_details .info_movie .percent .number span {
  color: #000;
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}

/*# sourceMappingURL=style.css.map */
