body {
    background-image: linear-gradient(45deg, rgb(12, 10, 20), rgb(40, 29, 85));
    color: #fff;
    margin: 0;
    h2 {
        font-family: "Potta One", cursive;
    }
    #general {
        position: relative;
        height: 85vh;
        display: flex;
        flex-direction: row;
        #search {
            background-color: rgb(25, 20, 44);
            height: 85vh;
            overflow-y: scroll;
            width: 21vw;
        }
        #search_movies_div{
            .one_movie{
                position: relative;
                padding-bottom: 10px;
                display: flex;
                flex-direction: column;
                h3{
                    position: absolute;
                    bottom : 5%;
                    left: 3%;
                    width: 180px;
                    text-shadow: 2px 0 0 #000, 2px 2px 0  #000, 0 2px 0  #000, 
                    -2px 2px 0 #000, -2px 0 0  #000, -2px -2px 0  #000, 
                    0 -2px 0  #000, 2px -2px 0  #000;
                }
                img{
                    width: 190px;
                    margin: 0;
                    box-shadow: #000 5px 5px 5px;
                    transition: 0.5s;
                    &:hover{
                        filter: saturate(1);
                        width: 200px;
                        cursor: pointer;
                    }
                }
            }
        }
        #accueil, #movie_details, #search_movies_div {
            height: 85vh;
            overflow-y: scroll;
            width: 80vw;
            .genre_name {
                display: flex;
                flex-direction: row;
                align-items: center;
                button {
                    margin-left: 15px;
                    border-radius: 5px;
                    background-color: rgb(59, 59, 139);
                    color: #fff;
                    border: none;
                    height: 30px;
                    transition: 0.5s;
                    &:hover {
                        background-color: rgb(163, 77, 74);
                        cursor: pointer;
                    }
                }
            }
            #popular_movies, .category_div {
                padding: 10px;
                &:hover{
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
    footer {
        height: 5vh;
        background-color: rgb(12, 10, 20);
    }
}

.flex_column{
    display:flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    .pagination{
        height: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .movies_list{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        height: 77vh;
        overflow-y: scroll;

    }
}

.d-none{
    display: none;
}

// ScrollBar code
/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(16, 10, 29, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(11, 11, 26, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.5);
}
