.carousel{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .one_movie{
        position: relative;
        padding-bottom: 10px;
        h3{
            position: absolute;
            bottom : 5%;
            left: 3%;
            width: 180px;
            text-shadow: 2px 0 0 #000, 2px 2px 0  #000, 0 2px 0  #000, 
            -2px 2px 0 #000, -2px 0 0  #000, -2px -2px 0  #000, 
            0 -2px 0  #000, 2px -2px 0  #000;
        }
        img{
            width: 190px;
            margin: 0;
            box-shadow: #000 5px 5px 5px;
            transition: 0.5s;
            &:hover{
                filter: saturate(1);
                width: 240px;
                cursor: pointer;
            }
        }
    }
}
