#movie_details {
    padding: 10px;
    .title_button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgb(12, 10, 20);
        button {
            margin-left: 15px;
            border-radius: 5px;
            background-color: rgb(163, 77, 74);
            color: #fff;
            border: none;
            height: 30px;
            transition: 0.5s;
            &:hover {
                cursor: pointer;
                background-color: rgb(131, 57, 54);
            }
        }
    }
    .info_movie {
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        img {
            width: 30vw;
            height: auto;
            border: 10px solid #fff;
            box-shadow: 10px 10px 15px #000;
        }
        .overview {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        svg {
            position: relative;
            width: 150px;
            height: 150px;
            z-index: 1000;
          }
          
          svg circle {
            width: 100%;
            height: 100%;
            fill: none;
            stroke: #0f0f0f;
            stroke-width: 10;
            stroke-linecap: round;
            transform: translate(5px, 5px);
          }
          
          .percent {
            position: absolute;
            top: 10px;
            left: 20%;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            box-shadow: inset 0 0 50px #000;
            z-index: 1000;
          }
          
          .percent .number {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
          }
          
          .percent .number span {
            color: #000;
            font-weight: 700;
            font-size: 40px;
            transition: 0.5s;
          }
    }
}