header{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: rgb(12, 10, 20);
    h1{
        margin: 0;
        font-family: 'Potta One', cursive;
        font-size: 50px;
    }
    a{
        color:#fff;
        text-decoration:none;
    }
}