#search{
    .search_form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
        input{
            border-radius: 5px;
            height: 30px;
            outline: none;
        }
        button{
            margin-top: 5px;
            border-radius: 5px;
            background-color: rgb(59, 59, 139);
            color: #fff;
            border: none;
            height: 30px;
            transition: 0.5s;
            &:hover{
                background-color: rgb(163, 77, 74);
                cursor: pointer;
            }
        }
    }
    nav{
        ul{
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            li{
                list-style: none;
                height: 50px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    background-color: rgba(0, 0, 0, 0.7);
                    cursor: pointer;
                }
            }
        }
    }

}